# Godot
.godot/
*.translation
export_credentials.cfg
mono_crash.*.json
build/client/**
build/server/**
!build/client/.gitkeep
!build/server/.gitkeep

# .NET
bin/
obj/
*.user
*.binlog
TestResults/
.vs/

# IDE
.idea/
.vscode/
